body {
  background-color: rgb(128, 128, 128);
}

#title, .subtitle, .post_title, .post{
  text-indent: 50px;
}

#title{
  margin-bottom: 15px;
}

#title, .subtitle, .post_title {
  color: rgb(0, 0, 255);
}

.post_title {
  font-size: 16px;
  font-style: italic;
}

.post{
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border: 2px solid #505050;
  margin: 10px;
  margin-bottom: 15px;
  text-align: justify;
  line-height: 2;
  border-radius: 5px;
}

.avatar{
  border-radius: 50%;
  width: 500;
}

.banner{
  border-radius: 5px;
}
